homes.css
body
{
    background: url("s.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
}
.header
{
    color: aliceblue;
    padding-left: 100;
    padding-top: 90;
    font-size: 35;
    font: 'Cormorant Garamond',serif;
}
.sub
{
    color:beige;
    font-size: 25;
    font-style: italic;
    font-weight: bolder;
    
}
.content
{
    text-align: right;
    color:black;
    font-weight: bolder;
    font-size: 20;
    font-style: italic;
    background-color: rgba(243, 220, 195, 0.8) ;
    
    height: 100;
    width: 1870;
    padding-top: 0.08;
    
    
    
    
}

.nav {
    margin-top: 20px;
    text-align: right;

}
.nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-family: 'Lora', serif;
    letter-spacing: 2px;
}

.nav a:hover {
    text-decoration: underline;
}
.one {
    display: flex;
    align-items: center;
    gap: 70px;
    margin: 40px 60px;
}

.one img {
    width: 650px;
    height: 345px;
    object-fit: cover;
    border-radius: 10px;
    
}
footer
{
    text-align: center;
    background-color: rgba(243, 220, 195, 0.8) ;
}
